<a href="https://colab.research.google.com/github/Saurabh2997/Python-/blob/master/JSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Write a Python program to convert JSON data to Python object.

In [ ]:
import json

p='''
{"name": "Bob","languages": ["English", "Fench"],"married": "true","age": "32"}
'''
office = json.loads(p)

In [ ]:
import json

person = '{"name": "Bob", "languages": ["English", "Fench"]}'
person_dict = json.loads(person)

In [ ]:
import json

p='''
{"Employee":
[
  {
    "Name":"Sam",
    "phone":["9321546595","9968451200"],
    "branch":"Sales"
  },
  {
    "Name":"Jon",
    "phone":["9321546789","9968471200"],
    "branch":"Marketing"
  },
  {
    "Name":"Matt",
    "phone":["8721546595","8965451201"],
    "branch":"Sales"
  }
]
}'''

office = json.loads(p)

for i in office['Employee']:
  print(i['branch'])

Sales
Marketing
Sales

Write a Python program to convert Python object to JSON data.

In [ ]:
import json
p='''
{"Employee":
[
  {
    "Name":"Sam",
    "phone":["9321546595","9968451200"],
    "branch":"Sales"
  },
  {
    "Name":"Jon",
    "phone":["9321546789","9968471200"],
    "branch":"Marketing"
  },
  {
    "Name":"Matt",
    "phone":["8721546595","8965451201"],
    "branch":"Sales"
  }
]
}'''

obj=json.loads(p)

data=json.dumps(obj,indent=2)

print(data)

{
  "Employee": [
    {
      "Name": "Sam",
      "phone": [
        "9321546595",
        "9968451200"
      ],
      "branch": "Sales"
    },
    {
      "Name": "Jon",
      "phone": [
        "9321546789",
        "9968471200"
      ],
      "branch": "Marketing"
    },
    {
      "Name": "Matt",
      "phone": [
        "8721546595",
        "8965451201"
      ],
      "branch": "Sales"
    }
  ]
}

Write a Python program to convert JSON encoded data into Python objects.

In [ ]:
import json

handle=open('/content/roster_data.json')
obj=json.load(handle)
print(type(obj))

<class 'list'>

In [ ]:

import sqlite3

conn = sqlite3.connect('rosterdb.sqlite')
cur = conn.cursor()

# Do some setup
cur.executescript('''
DROP TABLE IF EXISTS User;
DROP TABLE IF EXISTS Member;
DROP TABLE IF EXISTS Course;

CREATE TABLE User (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name   TEXT UNIQUE
);

CREATE TABLE Course (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    title  TEXT UNIQUE
);

CREATE TABLE Member (
    user_id     INTEGER,
    course_id   INTEGER,
    role        INTEGER,
    PRIMARY KEY (user_id, course_id)
)
''')


fname = 'roster_data.json'

# [
#   [ "Charley", "si110", 1 ],
#   [ "Mea", "si110", 0 ],

str_data = open(fname).read()
json_data = json.loads(str_data)

for entry in json_data:

    name = entry[0];
    title = entry[1];
    role = entry[2]

    print((name, title,role))

    cur.execute('''INSERT OR IGNORE INTO User (name)
        VALUES ( ? )''', ( name, ) )
    cur.execute('SELECT id FROM User WHERE name = ? ', (name, ))
    user_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Course (title)
        VALUES ( ? )''', ( title, ) )
    cur.execute('SELECT id FROM Course WHERE title = ? ', (title, ))
    course_id = cur.fetchone()[0]

    cur.execute('''INSERT OR REPLACE INTO Member
        (user_id, course_id, role) VALUES ( ?, ? ,?)''',
        ( user_id, course_id, role) )

    conn.commit()

('Darrel', 'si110', 1)
('Finlay', 'si110', 0)
('Quinn', 'si110', 0)
('Imogen', 'si110', 0)
('Mueez', 'si110', 0)
('Jayme', 'si110', 0)
('Elias', 'si110', 0)
('Chevy', 'si110', 0)
('Anneliese', 'si110', 0)
('Emilia', 'si110', 0)
('Ailish', 'si110', 0)
('Angelika', 'si110', 0)
('Marshall', 'si110', 0)
('Kalin', 'si110', 0)
('Miaah', 'si110', 0)
('Sylvain', 'si110', 0)
('Jaime', 'si110', 0)
('Nikash', 'si110', 0)
('Nieve', 'si110', 0)
('Alannah', 'si110', 0)
('Rosalind', 'si110', 0)
('Ammarah', 'si110', 0)
('Anneroy', 'si110', 0)
('Sharlyn', 'si110', 0)
('Caydence', 'si110', 0)
('Maksymilian', 'si110', 0)
('Arian', 'si110', 0)
('Aby', 'si110', 0)
('Gianmarco', 'si110', 0)
('Khaya', 'si110', 0)
('Mirren', 'si110', 0)
('Harneet', 'si110', 0)
('Kendyn', 'si110', 0)
('Jasveer', 'si110', 0)
('Joan', 'si106', 1)
('Bertie', 'si106', 0)
('Drew', 'si106', 0)
('Abbie', 'si106', 0)
('Montague', 'si106', 0)
('Levon', 'si106', 0)
('Riley', 'si106', 0)
('Betheny', 'si106', 0)
('Lisa', 'si106', 0)
('Hadyn', 'si106', 0)
('Tiona', 'si106', 0)
('Johannes', 'si106', 0)
('Chase', 'si106', 0)
('Kati', 'si106', 0)
('Malachi', 'si106', 0)
('Daren', 'si106', 0)
('Arved', 'si106', 0)
('Harman', 'si106', 0)
('Breogan', 'si106', 0)
('Ashton', 'si106', 0)
('Christina', 'si106', 0)
('Toby', 'si106', 0)
('Saumya', 'si106', 0)
('Rayne', 'si106', 0)
('Muhsin', 'si106', 0)
('Jaskaran', 'si106', 0)
('Oluwafemi', 'si106', 0)
('Rhian', 'si106', 0)
('Sabriyah', 'si106', 0)
('Marios', 'si106', 0)
('Hillary', 'si106', 0)
('Alasdair', 'si106', 0)
('Eliska', 'si106', 0)
('Malecia', 'si106', 0)
('Tegan', 'si206', 1)
('Serafina', 'si206', 0)
('Janette', 'si206', 0)
('Asritha', 'si206', 0)
('William', 'si206', 0)
('Broghan', 'si206', 0)
('Maiya', 'si206', 0)
('Fletcher', 'si206', 0)
('Sofiane', 'si206', 0)
('Lula', 'si206', 0)
('Lyall', 'si206', 0)
('Lorenz', 'si206', 0)
('Erencem', 'si206', 0)
('Nadeem', 'si206', 0)
('Athena', 'si206', 0)
('Wezi', 'si206', 0)
('Alessia', 'si206', 0)
('Rajan', 'si301', 1)
('Brianna', 'si301', 0)
('Oriana', 'si301', 0)
('Brook', 'si301', 0)
('Shinay', 'si301', 0)
('Umaima', 'si301', 0)
('Carmen', 'si301', 0)
('Colm', 'si301', 0)
('Abdihakim', 'si301', 0)
('Hussnan', 'si301', 0)
('Grahame', 'si301', 0)
('Seatle', 'si301', 0)
('Ikechukwu', 'si301', 0)
('Lola', 'si301', 0)
('Linden', 'si301', 0)
('Keatin', 'si301', 0)
('Pascoe', 'si301', 0)
('Tehya', 'si301', 0)
('Rohaan', 'si301', 0)
('Rosie', 'si301', 0)
('Fia', 'si310', 1)
('Manwen', 'si310', 0)
('Ambreen', 'si310', 0)
('Maaz', 'si310', 0)
('Aislinn', 'si310', 0)
('Rydha', 'si310', 0)
('Cian', 'si310', 0)
('Malaeka', 'si310', 0)
('Evan', 'si310', 0)
('Dedeniseoluwa', 'si310', 0)
('Sher', 'si310', 0)
('Aman', 'si310', 0)
('Oliwia', 'si310', 0)
('Sarra', 'si310', 0)
('Macauley', 'si310', 0)
('Caitlyn', 'si310', 0)
('Beinn', 'si310', 0)
('Jerrick', 'si310', 0)
('Warren', 'si310', 0)
('Nyomi', 'si310', 0)
('Lucille', 'si310', 0)
('Christine', 'si310', 0)
('Erin', 'si310', 0)
('Penelope', 'si310', 0)
('Nagib', 'si310', 0)
('Hanya', 'si310', 0)
('Brogan', 'si310', 0)
('Aron', 'si310', 0)
('Hareem', 'si310', 0)
('Anesu', 'si310', 0)
('Sheriff', 'si310', 0)
('Nikash', 'si310', 0)
('Betty', 'si310', 0)
('Dara', 'si310', 0)
('Pranav', 'si310', 0)
('Giancarlo', 'si310', 0)
('Anastazja', 'si310', 0)
('Johnpaul', 'si310', 0)
('Nelson', 'si310', 0)
('Brandyn', 'si310', 0)
('Jasper', 'si310', 0)
('Zenith', 'si310', 0)
('Arlo', 'si310', 0)
('Ajayraj', 'si310', 0)
('Ibrahim', 'si310', 0)
('Nilav', 'si310', 0)
('Pearl', 'si310', 0)
('Evelina', 'si310', 0)
('Elli', 'si310', 0)
('Danya', 'si310', 0)
('Elspeth', 'si310', 0)
('Adrian', 'si334', 1)
('Ambanimoh', 'si334', 0)
('Ioannis', 'si334', 0)
('Sulayman', 'si334', 0)
('Lois', 'si334', 0)
('Baighley', 'si334', 0)
('Kavita', 'si334', 0)
('Roxana', 'si334', 0)
('Haillie', 'si334', 0)
('Rafif', 'si334', 0)
('Somaya', 'si334', 0)
('Leia', 'si334', 0)
('Valery', 'si334', 0)
('Eliza', 'si334', 0)
('Fearghus', 'si334', 0)
('Josephine', 'si334', 0)
('Lylakay', 'si334', 0)
('Luighsighe', 'si334', 0)
('Maddison', 'si334', 0)
('Cait', 'si334', 0)
('Ayden', 'si334', 0)
('Kez', 'si334', 0)
('Kyleena', 'si334', 0)
('Eirinn', 'si334', 0)
('Rasul', 'si363', 1)
('Serafina', 'si363', 0)
('Rimal', 'si363', 0)
('Armani', 'si363', 0)
('Keleigh', 'si363', 0)
('Tylar', 'si363', 0)
('Cacie', 'si363', 0)
('Camryn', 'si363', 0)
('Favour', 'si363', 0)
('Jayden', 'si363', 0)
('Peebles', 'si363', 0)
('Leigh', 'si363', 0)
('Kaydn', 'si363', 0)
('Shannah', 'si363', 0)
('Alea', 'si363', 0)
('Ronin', 'si363', 0)
('Annaliesse', 'si363', 0)
('Hamzah', 'si363', 0)
('Alexanne', 'si363', 0)
('Oluwatobiloba', 'si363', 0)
('Natania', 'si363', 0)
('Priscillia', 'si363', 0)
('Sree', 'si363', 0)
('Anndra', 'si363', 0)
('Rubii', 'si363', 0)
('Cree', 'si363', 0)
('Emanuel', 'si363', 0)
('Husnain', 'si363', 0)
('Rihanna', 'si363', 0)
('Christianna', 'si363', 0)
('Fruin', 'si363', 0)
('Aurea', 'si363', 0)
('Amolpreet', 'si363', 0)
('Thia', 'si363', 0)
('Remo', 'si363', 0)
('Orin', 'si363', 0)
('Shwetika', 'si363', 0)
('Maryam', 'si364', 1)
('Rebeca', 'si364', 0)
('Rudy', 'si364', 0)
('Kody', 'si364', 0)
('Francisco', 'si364', 0)
('Leni', 'si364', 0)
('Luna', 'si364', 0)
('Ryo', 'si364', 0)
('Gabriele', 'si364', 0)
('Sharmaine', 'si364', 0)
('Amilie', 'si364', 0)
('Kathrina', 'si364', 0)
('Lauren', 'si364', 0)
('Ashtyn', 'si364', 0)
('Simbiat', 'si364', 0)
('Aroob', 'si364', 0)
('Greg', 'si364', 0)
('Kevin', 'si364', 0)
('Asim', 'si364', 0)
('Cuillin', 'si364', 0)
('Emmy', 'si364', 0)
('Trafford', 'si364', 0)
('Bayli', 'si364', 0)
('Adain', 'si364', 0)
('Rylay', 'si364', 0)
('Kitana', 'si364', 0)
('Isabela', 'si364', 0)
('Mikael', 'si364', 0)
('Zijie', 'si422', 1)
('Wardah', 'si422', 0)
('Alicja', 'si422', 0)
('Gustav', 'si422', 0)
('Yassin', 'si422', 0)
('Calder', 'si422', 0)
('Ayan', 'si422', 0)
('Emlyn', 'si422', 0)
('Ethan', 'si422', 0)
('Pola', 'si422', 0)
('Aryan', 'si422', 0)
('Modu', 'si422', 0)
('Ashleigh', 'si422', 0)
('Kaceylee', 'si422', 0)
('Akira', 'si422', 0)
('Jamielee', 'si422', 0)
('Rhyley', 'si422', 0)
('Callin', 'si422', 0)
('Aeryn', 'si422', 0)
('Declyn', 'si422', 0)
('Princess', 'si422', 0)
('Maanav', 'si422', 0)
('Carragh', 'si422', 0)
('Lanakai', 'si422', 0)
('Allister', 'si422', 0)
('Keyra', 'si422', 0)
('Bezalel', 'si422', 0)
('Marcia', 'si422', 0)
('Kalie', 'si422', 0)
('Thirza', 'si422', 0)
('Daymian', 'si422', 0)
('Evey', 'si422', 0)
('Alyas', 'si422', 0)
('Peni', 'si422', 0)
('Siobhan', 'si422', 0)
('Tilly', 'si430', 1)
('Bradly', 'si430', 0)
('Brett', 'si430', 0)
('Inika', 'si430', 0)
('Zena', 'si430', 0)
('Creag', 'si430', 0)
('Navdeep', 'si430', 0)
('Saiorse', 'si430', 0)
('Kamsiyochi', 'si430', 0)
('Ingrid', 'si430', 0)
('Eris', 'si430', 0)
('Annika', 'si430', 0)
('Gracie', 'si430', 0)
('Firaaz', 'si430', 0)
('Viktoria', 'si430', 0)
('Aleksandrs', 'si430', 0)
('April', 'si430', 0)
('Marcello', 'si430', 0)
('Colby', 'si430', 0)
('Enrika', 'si430', 0)
('Abigael', 'si430', 0)

In [ ]:
import json

sampleJson = """{ 
   "company":{ 
      "employee":{ 
         "name":"emma",
         "payble":{ 
            "salary":7000,
            "bonus":800
         }
      }
   }
}"""

obj=json.loads(sampleJson)

print(obj['company']['employee']['payble']['salary'])

7000

Question 6: Convert the following Vehicle Object into JSON

In [ ]:
import json

class Vehicle:
    def __init__(self, name, engine, price):
        self.name = name
        self.engine = engine
        self.price = price

vehicle = Vehicle("Toyota Rav4", "2.5L", 32000)

TypeError: ignored